.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__subtitle > i {
  margin-left: 10px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component___active-text {
  position: absolute;
  display: flex;
  font-size: 13px;
  color: green;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 15px;
  left: 43px;
  border-radius: 10px;
  background-color: var(--main-gray);
  animation: ActivetextPulse 1s linear infinite;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

@keyframes ActivetextPulse {
  0% {
    transform: none;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1.15);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
